
:root {
    --font-family-base:    'Montserrat', Arial, Helvetica, sans-serif;
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold:    700;
}

$bp-2xl: 1600px;
$bp-xl:  1280px;
$bp-lg:  1024px;
$bp-md:  768px;
$bp-sm:  480px;
